/* ---- particles.js container ---- */
html {
  scroll-behavior: smooth !important;
}
body {
  place-items: center;
}

/*Header css*/

.headerMain {
  display: flex;
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 1000;
  justify-content: space-between;
  /* Updated to space the children */
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.headerLeftDiv {
  height: 60px;
  display: flex;
  align-items: center;
}

.logoImage {
  display: inline;
  width: 60px;
  height: 60px;
  margin-left: 5vw;
}

.headerLeftDiv h1 {
  display: inline;
  color: #212121;
  font-family: "Pacifico", cursive;
  font-size: 30px;
  font-weight: 600;
  height: 58px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 25px;
}

.headerRightNav {
  display: block;
}

.headerRightDiv {
  display: flex;
  align-items: center;
  margin-right: 5vw;
  width: fit-content;
}

.headerRightDiv nav {
  margin-left: auto;
}

.headerRightDiv ul {
  list-style: none;
  display: flex;
  /* Add this line to allow justify-content to work */
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.headerRightDiv li {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 120px;
  height: fit-content;
  pointer-events: fill;
  padding-bottom: 2px;
  
  
}


.headerRightDiv a {
  text-decoration: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 1.5vw;
  font-weight: 600;

  height: fit-content;
  letter-spacing: 0;
  line-height: normal;
 
  transition: color 0.3s ease, transform 0.3s ease;
}

.headerRightDiv span{
  width: fit-content;
  height: fit-content;
  background-image: linear-gradient(#f5c905 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s;
}

.headerRightDiv span:hover{
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}

.headerRightDiv a:hover {

  color: #f5c905;
  transform: translateX(0px);

}

.SideBar {
  position: fixed;
  top: 0;
  right: 0;
  height: fit-content;
  width: 250px;
  z-index: 999;
  background-color: #fffdfd89;
  backdrop-filter: blur(8px);
  box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
  border-radius: 20px;
}

.MenuIcon {
  display: none;

  align-self: center;
  margin-right: 4vw;
}
.SideBar li {
  width: 100%;
  height: 50px;

  border-bottom: 1px solid #dddcdc;
  display: flex;
  align-items: center;
}

.SideBar li a {
  text-decoration: none;
  padding: 8px 15px;
  background-color: transparent;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  letter-spacing: 0;
  line-height: normal;
  transition: color 0.3s ease, transform 0.3s ease;
}

/*Section_1 css*/
#section_1 {
  height: fit-content;
  width: 100vw;
}

#bannerCls {
  height: calc(fit-content - 60px);
  margin-top: 60px;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  
}

#bannerCls video{
  max-width: 100%;
  max-height: 100%;
  transform: scale(1.3);
  aspect-ratio: 16/9;

 
}

.banner_text {
  position: absolute;

  z-index: 999;
  color: #dddcdc;
  left: 0;
  bottom: 0;
  margin-left: 5vw;
  margin-bottom: 5vw;
  font-size: 6vw;
  justify-content: center;
}

/*Section_2 css*/
#section_2 {
  height: fit-content;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: center;

}
.swiper{

  position: relative;
  width: calc(100vw - 10vw) !important;
  margin-left: 5vw !important; /* Automatically adjust left margin */
  margin-right: 5vw !important;
  margin-top: 40px !important;

 
}

.swiper-wrapper{
  width: fit-content !important;
  position: relative !important;

  margin-top: 15vh !important;
  height: fit-content !important;
  display: flex !important;
  justify-content: space-between !important;
  flex-direction: row !important;
  align-items:first baseline !important;
 
}

.homeTitle {
  width: 100vw;

  display: flex;
  justify-content: center;
  flex-direction: column;

  align-items: center;
}

.homeTitle h3 {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 600;
  left: 0;
  margin-top: 10vh;
  letter-spacing: 0;
  margin-bottom: 5px;
}

.homeTitle h6 {
  color: #212121;
  font-family: "Pacifico", cursive;
  font-size: 24px;
  font-weight: 100;
  margin-top: 0px;
  left: 0;
  margin-bottom: 0px;
  letter-spacing: 0;
}


.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  margin: 10px;
  z-index: 999;
  top: 50%;
  transform: translateY(-50%);
 
}

.swiper-button-next {
  right: 0;
}
.swiper-button-next img{
  width: 50px;
  height: 50px;
  
}
.swiper-button-prev {
  left: 0;
}
.swiper-button-prev img{
  width: 50px;
  height: 50px;
 
}
.swiper-button-next::after, .swiper-button-prev::after {
  content: "" !important;
}



.swiper-slide {
  display: grid !important;
  grid-template-rows: 66% 33% !important;
  height: fit-content !important;
  width: fit-content !important;

}

.swiper-slide a{
  text-decoration: none !important; 
  color: inherit !important;
}

.PIImg {
  height: 300px;
  width: 250px;
  object-fit: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

.PIImg img{
  transform: scale(1);
  transition: transform 0.3s ease;
}

.PIImg Img:hover{
  transform: scale(1.2);
}

.PIDesc {
  width: 250px;
  display: flex;
  align-items:flex-start;
  flex-direction: column;
}

.PIDesc h5{
  color: #4545459c;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.PIDesc p {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 1.25vw;
  font-weight: 600;
  margin-bottom: 0.5vw;
  margin-top: 1.8vw;
  left: 0;
  letter-spacing: 0;
  line-height: normal;


  background-image: linear-gradient(#000000 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s;
}

.PIDesc p:hover{
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}

.PIDesc button {
  

  border-radius: 10px;
  height: fit-content;
  padding-top: 1vw;
  padding-bottom: 1vw;
  left: 0;

  top: 0;
  width: 10vw;
  background-color: #212121;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.2s, transform 0.2s;
}

.PIDesc button:hover {
  background-color: #ffffff;
  transform: scale(1.1);
}

.PIDesc button:hover {
  color: #212121;
}

/*section_3 css*/
#section_3 {
  height: fit-content;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sec3Div{
  margin-left: 40px;
  margin-right: 40PX;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
 
}

.aboutImg {
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vw;
 
}


.aboutImg img {
  display: block;
  width: 15vw;
  height: 15vw;
 scale: 0.1;
 opacity: 0;
 animation: anim-logo linear forwards;
 animation-timeline: view();
animation-range: entry 0% 22vw;
 

}

@keyframes anim-logo{

 to{scale: 2; opacity: 1;}
}

.aboutTxtDiv {
  color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 40vw;
  left: 0;
  letter-spacing: 0;
  line-height: 2vw;
  margin-left: 100px;
  margin-right: 100px;

  font-size: 2vw;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;

  
}

/*section_4 css*/
#section_4{
  height: fit-content;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap-reverse;

  flex-direction: row;
  justify-content: center;
}




.sec4Left{
 display: flex;
 position: relative;
 width:50vw;

 justify-content: center;
  align-items: center;

  background-color: #454545;
}




.sec4LeftBackImg {
 
  width: 100%;
  min-height: 380px;
  height:60vh;
  background-position: center;
  background-image: url('../img/productImg/Coffe_maker.jpg');
  background-repeat: no-repeat;
  
  
}

.sec4LeftBackImg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-position: center;
  background-image: url("../img/siteResources/BWSila3.png");
  mix-blend-mode: screen;
  object-fit: cover;
  
}


.sec4Right{
  display: flex;
  width:45vw;
  right: 0;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  margin-right: 70px;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: bold;
  text-align:center;

}

.formContainer {
  display: flex;
  height: fit-content;
  width: 90%;
  position: absolute;
  z-index: 999;
  justify-content: center;

}

.form{
  width: 100%;
  margin: 20px;
  min-height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feedbackFormDiv {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.481);
  backdrop-filter: blur(10px);
  box-shadow: 0px 4px 21.7px 0px rgba(0, 0, 0, 0.24);
}

.feedbackFormDiv label {
  color: #212121;

  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.textField {
  width: 100%;
  min-height: 70px;
  height: 5vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 2vw;
  justify-content: left;
}

.textField label {
  display: block;
}

.submitBtn {
  width: fit-content;
  height: 5vh;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  border: 3px solid #454545;
  background:white;
  backdrop-filter: blur(100px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  color: #212121;
  text-align: center;
  font-family: Inter;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.submitBtnDiv :hover {
  background-color: #212121;
  color: #edf0f5;
}

.submitBtnDiv {
  display: flex;
  justify-content: center;
}

/*section_5 css*/

#section_5{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sec5Title{
  display: flex;
  width: 100vw;
  height: fit-content;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-size: 4rem;

  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.sec5Cont{
  height: calc(100% - 200px);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.sec5Div1{
  width:20vw;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  writing-mode: vertical-lr;
  text-orientation: upright;
  position: relative;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-image: url("../img/siteResources/ModelingBack.jpg");
  transform: translateX(-100%);
  animation: sec5Anim 2s linear forwards;
  animation-timeline: view();
  animation-range: entry 0% 34vw;

}

.sec5Div1 h3{
  background-color: rgba(255, 255, 255, 0.893);
  color: #000000;
  padding: 10px;
}




.sec5Div2{
  width:20vw;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  writing-mode: vertical-lr;
  text-orientation: upright;
  position: relative;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-image: url("../img/productImg/Rose_flower.jpg");
  transform: translateX(-100%);
  animation: sec5Anim 2s linear forwards;
  animation-timeline: view();
  animation-range: entry 0% 32vw;
  position: relative;
}

.sec5Div2 h3{
  background-color: rgba(255, 255, 255, 0.893);
  color: #000000;
  padding: 10px;
}

.sec5Div3{
  width:20vw;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  writing-mode: vertical-lr;
  text-orientation: upright;
  position: relative;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-image: url("../img/siteResources/UVBack.jpg");
  transform: translateX(-100%);
  animation: sec5Anim 2s linear forwards;
  animation-timeline: view();
  animation-range: entry 0% 30vw;

}

.sec5Div3 h3{
  background-color: rgba(255, 255, 255, 0.893);
  color: #000000;
  padding: 10px;
}



.sec5Div4{
  width:20vw;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  writing-mode: vertical-lr;
  text-orientation: upright;
  position: relative;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;

  background-image: url("../img/siteResources/OptimizeBack.jpg") ;
  transform: translateX(-100%);
  animation: sec5Anim 2s linear forwards;
  animation-timeline: view();
  animation-range: entry 0% 28vw;

}

.sec5Div4 h3{
  background-color: rgba(255, 255, 255, 0.893);
  color: #000000;
  padding: 10px;
}

@keyframes sec5Anim {
  to{transform: translateX(0%);}
}


/*section_6 css*/
#section_6{
  height: fit-content;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contactUs p{
  display: flex;
  width: 100vw;
  height: fit-content;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 4rem;
  margin-top: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.contactCont{
 display: flex;
 flex-wrap: wrap;
}

.optionRow {
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  width: 18vw;
  height: 18vw;
 margin-left: 50px;
 margin-right: 50px;
 box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2)
}

.optionRow:hover {
  background-color: #e7e7e7;
}

.optionRow img {
  width: 50px;
  height: 50px;
}

.optionRow p {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 600;

  letter-spacing: 0;
  line-height: normal;

}









































#response-message {
  width: 50vw;
  position: absolute;
  padding: 10px;
  color: #212121;
  font-size: 4vw;
  display: none;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.swiper {
  width: 90vw;
  height: fit-content;
  padding-top: 100px;
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.85);
  }
}

.swiper-button-next {
  color: #212121;
}



#response-message svg {
  fill: #00b31e;
  margin: 10px;
  display: flex;
  justify-content: center;
  width: 95%;
}
#response-message span {
  display: flex;
  justify-content: center;
}

.HomeSectionDiv {
  width: 100vw;

  height: fit-content;
}

#Home {
  width: 100vw;
  display: flex;

  height: fit-content;
  background-color: #edf0f5;
  padding-top: 90px;
}

#About {
  width: 100vw;
  padding-bottom: 25vw;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #edf0f5;
}

#Feedback {
  width: 100vw;

  height: fit-content;
  background-color: #edf0f5;
  padding-top: 50px;
}

#Services {
  display: flex;
  width: 100vw;

  height: fit-content;
  padding-top: 100px;
  background-color: #edf0f5;
  align-items: center;
  flex-direction: column;
}

#particles-js {
  display: flex;
  width: 100vw;
  position: absolute;
  z-index: 0;
}

#particles-js2 {
  display: flex;
  width: 100vw;
}

#particles-js3 {
  display: flex;
  width: 100vw;
  justify-content: center;
  position: absolute;
}

#Contact {
  width: 100vw;
  z-index: 1;
  height: fit-content;
  background-color: #edf0f5;
}

.ContactContainer {
  display: flex;
  position: absolute;

  height: fit-content;
  padding-top: 100px;
  align-items: center;
  flex-direction: column;
}

.carousel-container {
  width: 100vw;
}

.carousel {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  overflow-x: hidden;
  overflow-y: hidden;
  align-items: center;
  margin-top: 0px;
  padding-top: 4vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#carouselItem {
  display: grid;
  position: relative;
  grid-template-rows: 70% 30%;
  align-items: center;
  margin-bottom: 20px;
  margin-top: -50px;
  z-index: 1;
  transform: scale(0.9) !important;
}

.carouselItem :hover {
}

.carouselImgDiv {
  width: 100%;
  height: 100%;
  grid-row: 1;
  box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.349);
}

.itemImg {
  width: 25vw;
  height: 25vw;
  object-fit: cover;
  overflow: hidden;
}

.carouselInfoDiv {
  width: 100%;
  height: 100%;
  grid-row: 2;
}

.carouselInfoDiv div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 25vw;

  background-color: #e0e0e0;
  box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.349);
  height: 10vw;
  left: 0;

  top: 0;
}

.carouselInfoDiv p {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 1.8vw;
  font-weight: 600;
  margin-bottom: 1vw;
  margin-top: 0.7vw;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
}

.carouselInfoDiv a button {
  border: 1px solid;
  border-color: #212121;
  border-radius: 20px;
  height: fit-content;
  padding-top: 1vw;
  padding-bottom: 1vw;
  left: 0;

  top: 0;
  width: 15vw;
  background-color: #212121;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.2vw;
  font-weight: 600;
  transition: background-color 0.2s, transform 0.2s;
}

.carouselInfoDiv a button:hover {
  background-color: #ffffff;
  transform: scale(1.1);
}

.carouselInfoDiv a button:hover {
  color: #212121;
}
/*Feedback styles starts here*/
.feedbackPage {
  display: grid;

  width: 100vw;
  height: 100%;
  grid-template-rows: 25% 75%;
}

.feedbackTitle {
  width: 100vw;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 10px;
}

.feedbackTitle h2 {
  width: 100%;

  display: flex;
  margin-top: 50px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  color: #212121;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.feedbackTitle h3 {
  display: flex;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
  color: #212121;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.inputStyle {
  border-radius: 10px;
  border: 1px solid #454545;
  background: #fffefe;
  height: 50px;
}





/*About CSS starts here*/

.aboutFalcoTitle {
  width: fit-content;
  height: fit-content;
}

.aboutFalcoTitle h2 {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 20px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
}

/*Service CSS starts here*/

.ServicesFlexBox {
  display: flex;
  flex-wrap: wrap;
  width: 75vw;
  height: fit-content;
  justify-content: center;
}

.ServiceBox {
  background-color: #ffffff;
  border: 3px solid;
  border-color: #212121;
  border-radius: 24px;
  box-shadow: 0px 4px 4px #454545;
  width: 200px;
  height: 200px;
  left: 0;
  top: 0;
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;

  left: 0;
  letter-spacing: 0;
  line-height: normal;
}

/* Contact CSS starts here*/

.contactOptionWrapper {
  display: flex;
  align-items: center;
  height: fit-content;
}

.contactOptionDiv {
  display: flex;
  width: 100vw;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}



/* Footer CSS starts here*/

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.main {
  flex: 1;
}

.footerContainer {
  width: 100vw;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  background-color: #212121;
}

.upperFooter {
  margin-top: 20px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  padding-left: 80px;
  padding-right: 80px;
}

.left {
  display: grid;
  max-width: 50vw;
  width: 40%;
  height: 100%;
  grid-template-rows: 40% 60%;

  margin-right: 80px;
}

.leftUpper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leftUpper h1 {
  color: #edf0f5;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 600;
  height: 58px;
  left: 0;
  margin-left: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.leftLower {
  height: fit-content;
}

.leftLower p {
  color: #edf0f5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 23.1px;
  top: 0;
}

.middle {
  margin-right: 80px;
  width: fit-content;
  height: fit-content;
}

.middle h3 {
  color: #edf0f5;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 600;
  height: 58px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;

  display: flex;
  align-items: center;
}

.inline_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.inline_row img {
  width: 25px;
  height: 25px;
}

.inline_row span {
  display: flex;
  color: #edf0f5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 23px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 10px;
  align-items: center;
}

.right {
  align-items: right;
  width: fit-content;
}

.right h3 {
  color: #edf0f5;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 600;
  height: 58px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;

  display: flex;
  align-items: center;
}

.lowerFooter p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #edf0f5;
}

hr {
  margin-left: 80px;
  margin-right: 80px;
}

/*For Tablet*/
@media only screen and (max-width: 1024px) {
  .PIDesc p{
    font-size: 1.8vw;
  }
  .leftLower p {
    font-size: 0.8em;
  }

  .optionRow {
    margin-top: 0.9em;
  }

  .optionRow img {
    width: 25px;
    height: 25px;
  }

  .optionRow p {
    color: #212121;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 600;

    left: 0;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 20px;
  }

  .ServiceBox {
    border-radius: 24px;

    height: 200px;
    width: 200px;

    margin: 40px;

    font-size: 16px;
    font-weight: 600;

    left: 0;
    letter-spacing: 0;
    line-height: normal;
    transform: scale(1.2);
  }

  .ServicesFlexBox {
    margin-top: -50px;
    transform: scale(0.8);
  }

  

  .MenuIcon {
    display: none;
  }

  .SideBar {
    display: none;
  }
}

@media only screen and (max-width: 924px) {
  .MenuIcon {
    display: flex;
  }

  .headerRightNav {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .PIDesc p{
    font-size: 2vw;
  }
  .feedbackFormDiv {
    width: 80vw;
    display: flex;
    justify-content: center;
  }
  .textField {
    width: 80%;
  }
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .PIImg {
    height: 250px;
    width: 200px;
  
  }

  .PIDesc {
    width: 200px;
    
  }

    
  .swiper-wrapper{
   
    margin-top: 8vh !important;
    
   
  }

  

}

@media only screen and (max-width: 767px) {
  .logoImage {
    width: 50px;
    height: 50px;
  }

  .PIImg {
    height: 200px;
    width: 150px;
  
  }
  .PIDesc {
    width: 150px;
    
  }
  .PIDesc p{
    font-size: 2vw;
  }

  .headerLeftDiv h1 {
    display: flex;
    font-size: 4vw;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
  }

  .homeTitle h3 {
    margin-top: 12vw;
    font-size: 6vw;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .homeTitle h6 {
    font-size: 3vw;
    font-weight: 600;
    display: flex;
    justify-content: center;
  }
  
  .swiper-wrapper{
   
    margin-top: 8vh !important;
    
   
  }

  .LogoMain img {
    display: block;
    width: 50vw;
    height: 50vw;
    margin-top: 14vw;
    margin-bottom: 1vw;
  }
  .aboutFalcoTitle h2 {
    font-size: 10vw;
  }

  .AboutPara {
    font-size: 4vw;
    height: fit-content;
    margin-left: 4vw;
    margin-right: 4vw;
  }

  .feedbackTitle h2 {
    font-size: 6vw;
    font-weight: 900;
    display: flex;
    justify-content: center;
  }

  .feedbackTitle h3 {
    font-size: 3.5vw;
    font-weight: 600;
    display: flex;
    justify-content: center;
  }

  .feedbackFormDiv {
    width: 90vw;
  }
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .textField {
    width: 80%;
    display: flex;
    justify-content: center;
  }
  .aboutFalcoTitle h2 {
    font-size: 6vw;
    font-weight: 900;
    display: flex;
    justify-content: center;
  }

  .ServicesFlexBox {
    width: 90vw;
  }
  .contactOptionDiv a {
    width: 80vw;
  }
  .optionRow {
    width: auto;
  }

  .left {
    display: flex;

    flex-direction: column;
    margin-right: 3vw;
    width: 90vw;
  }
  .leftUpper {
    display: flex;
    width: 90vw;
    height: fit-content;
    flex-direction: row;
  }

  .leftUpper h1 {
    font-size: 10vw;
    display: flex;
    align-items: center;
  }
  .leftUpper img {
    margin-left: 3vw;
  }

  .upperFooter {
    padding-left: 3vw;
    padding-right: 3vw;
  }
  .leftLower {
    width: 90vw;
  }

  .middle a {
    width: fit-content;
  }

  .itemImg {
    width: 90vw;
    height: 90vw;
  }

  .carouselInfoDiv div {
    width: 90vw;
    height: 30vw;
    justify-content: flex-start;
  }

  .carouselInfoDiv p {
    font-size: 6vw;
    padding-top: 0;
    margin-bottom: 3vw;
    margin-top: 5vw;
  }
  .carouselInfoDiv {
  }

  .carouselInfoDiv a button {
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;

    width: 55vw;

    font-size: 5vw;
  }
}

@media only screen and (max-width: 540px) {
  
  .headerLeftDiv h1 {
    display: flex;
    font-size: 5vw;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2vw;
    align-items: center;
  }

  .PIDesc p{
    font-size: 3vw;
  }
  
}

@media only screen and (max-width: 284px) {

  .headerLeftDiv h1 {
    display: flex;
    font-size: 8vw;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2vw;
    align-items: center;
  }

  .PIDesc p{
    font-size: 4vw;
  }
  .inline_row img {
    width: 5vw;
    height: 5vw;
  }
  .inline_row span {
    font-size: 5vw;
  }

  .lowerFooter hr {
    margin-left: 6vw;
    margin-right: 6vw;
  }

  .lowerFooter p {
    font-size: 6vw;
  }

  .middle h3 {
    font-size: 12vw;
  }

  .right h3 {
    font-size: 12vw;
  }

  .MenuIcon {
    margin-right: 4vw;
  }
}
