/* ---- particles.js container ---- */

.content-container {


    /* Place content on top of particles.js */
}


.headerMain {
    width: 100vw;
    height: 90px;
    position: fixed;
    top: 0;
    z-index: 1000;

    display: grid;
    background-color: #ffffff;
    grid-template-columns: 20% 80%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* Add box shadow to the bottom */
}


.headerLeftDiv {
    height: 90px;

    grid-column: 1;
    display: flex;
    align-items: center;
}

.logoImage {
    display: inline;
    width: 75px;
    height: 75px;
    margin-left: 10px;
}

.headerLeftDiv h1 {
    display: inline;
    color: #121315;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 48px;
    font-weight: 600;
    height: 58px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 25px;
}

.headerRightDiv {
    display: flex;
    align-items: center;
    grid-column: 2;
}

.headerRightDiv nav {
    margin-left: auto;
    /* Push the nav to the right */
    margin-right: 40px;
}

.headerRightDiv nav ul {
    list-style: none;
    justify-content: flex-end;
    /* Align items to the right */
    padding: 0;
    margin: 0;
}

.headerRightDiv nav li {
    display: inline;

    margin-right: 15px;
    /* Add some spacing between list items if desired */
}

.headerRightDiv nav a {
    text-decoration: none;
    /* Remove underlines from links */
    padding: 8px 15px;
    /* Add padding to links for better spacing */
    background-color: transparent;
    /* Background color for links */
    color: #121315;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    height: 58px;
    letter-spacing: 0;
    line-height: normal;
    transition: color 0.3s ease, transform 0.3s ease;
    /* Add smooth transition for color and transform */
}

.headerRightDiv nav a:hover {
    color: #f5c905;
    transform: translateX(5px);
    border-bottom: 2px solid #f5c905;
    /* Move the text 5 pixels to the right on hover */
}

.HomeSectionDiv{
    width: 100vw;
    min-height: 100vh;
    height: fit-content;

    position: absolute;
}
#Home {

    position: relative;
    width: 100vw;
    display: flex;
    min-height: 100vh;
    
    background-color: #EDF0F5;
    padding-top: 90px;

}

#About {
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #EDF0F5;
}

#Feedback {

    width: 100vw;
    z-index: 1;
    min-height: 100vh;
    height: fit-content;
    background-color: #EDF0F5;
    padding-top: 50px;
}

#Services {
    display: flex;
    width: 100vw;

    min-height: 100vh;
    height: fit-content;
    padding-top: 100px;
    background-color: #EDF0F5;
    align-items: center;
    flex-direction: column;
}
#particles-js{
    display: flex;
    width: 100vw;
    
}
#particles-js2{
    display: flex;
    width: 100vw;
}
#particles-js3{
    display: flex;
    width: 100vw;
    justify-content: center;
    position: absolute;
}

#Contact {

    width: 100vw;
    z-index: 1;
    min-height: 100vh;
    height: fit-content;
    background-color: #EDF0F5;
}

.ContactContainer{
    display: flex;
    position: absolute;
    min-height: 100vh;
    height: fit-content;
    padding-top: 100px;
    align-items: center;
    flex-direction: column;
    background-color: #45454538;
}

.carousel-container {
    width: 100vw;


}

.homeTitle {

    width: 100vw;

    display: flex;
    justify-content: center;
    flex-direction: column;

    align-items: center;
}

.homeTitle h2 {
    color: #121315;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 48px;
    font-weight: 600;
    left: 0;

    letter-spacing: 0;
    margin-bottom: 10px;
}

.homeTitle h6 {
    color: #121315;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    margin-top: 0px;
    left: 0;
    margin-bottom: 0px;
    letter-spacing: 0;
}


.carousel {
   
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;
    margin-top: 0px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    background-color: #24242488;
}

.carouselItem {
    display: grid;
    position: relative;
    grid-template-rows: 70% 30%;
    align-items: center;
    margin-bottom: 20px;
    margin-top: -50px;

    transform: scale(0.6);
}

.carouselImgDiv {
    width: 100%;
    height: 100%;
    grid-row: 1;
    box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.349);
}

.itemImg {
    width: 480px;
    height: 480px;
    object-fit: cover;
    overflow: hidden;
}

.carouselInfoDiv {
    width: 100%;
    height: 100%;
    grid-row: 2;
}

.carouselInfoDiv div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 480px;

    background-color: #f2f2f2;
    box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.349);
    height: 200px;
    left: 0;

    top: 0;
}

.carouselInfoDiv p {
    color: #121315;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 28px;
    font-weight: 600;

    left: 0;
    letter-spacing: 0;
    line-height: normal;
}

.carouselItem a {}

.carouselInfoDiv a button {
    border: 1px solid;
    border-color: #121315;
    border-radius: 20px;
    height: 66px;
    left: 0;

    top: 0;
    width: 341px;

    color: #121315;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
}

.carouselInfoDiv a button:hover {
    background-color: #e2e0e0;
}

/*Feedback styles starts here*/
.feedbackPage {
    display: grid;
    position: absolute;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 25% 75%;

}

.feedbackTitle {
    width: 100vw;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 10px;
}

.feedbackTitle h2 {
    width: 100%;

    display: flex;
    margin-top: 50px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    color: #121315;
    text-align: center;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.feedbackTitle h3 {

    display: flex;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    color: #121315;
    text-align: center;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.feedbackFormDiv {

    width: 50vw;
    padding: 10px;
    transform: scale(0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 64px;
    margin-top: 10px;
    border: 3px solid #454545;
    background: #fff;
    box-shadow: 0px 4px 21.7px 0px rgba(0, 0, 0, 0.24);
}

.feedbackFormDiv label {
    color: #121315;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.inputStyle {
    border-radius: 10px;
    border: 1px solid #454545;
    background: #FFFEFE;
    height: 50px;
}

.textField {
    width: 45vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    justify-content: left;
}

.textField label {

    display: block;
}

.submitBtn {
    width: 200px;
    height: 50px;
    border-radius: 26px;
    border: 3px solid #454545;
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


    color: #121315;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.submitBtnDiv {
    display: flex;
    justify-content: center;
}

.formContainer {
    display: flex;
    height: 600px;
    justify-content: center;
}






/*About CSS starts here*/

.LogoMain img {
    display: block;
    width: 250px;
    height: 250px;
    margin-top: 150px;
    margin-bottom: 20px;
}

.aboutFalcoTitle {
    width: fit-content;
    height: fit-content;

}

.aboutFalcoTitle h2 {
    color: #121315;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 48px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;

}

.AboutPara {
    color: #121315;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    height: 116px;
    left: 0;
    letter-spacing: 0;
    line-height: 29.1px;
    margin-left: 100px;
    margin-right: 100px;

}

/*Service CSS starts here*/

.ServicesFlexBox {
    display: flex;
    flex-wrap: wrap;
    width: 75vw;
    height: fit-content;
    justify-content: center;

}

.ServiceBox {
    background-color: #ffffff;
    border: 3px solid;
    border-color: #121315;
    border-radius: 24px;
    box-shadow: 0px 4px 4px #454545;
    width: 300px;
    height: 300px;
    left: 0;
    top: 0;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Inter-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;

    left: 0;
    letter-spacing: 0;
    line-height: normal;
}

/* Contact CSS starts here*/

.contactOptionDiv {
    display: flex;
    width: 100vw;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.optionRow {
    background-color: #ffffff;
    border: 2px solid;
    border-color: #121315;
    border-radius: 24px;
    height: fit-content;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
    width: 50vw;
    padding-left: 30px;
    margin-top: 50px;
}

.optionRow:hover{
    background-color: #ececec;
}

.optionRow img {
    width: 50px;
    height: 50px;

}

.optionRow p {
    color: #121315;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 32px;
    font-weight: 600;
    height: 46px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 20px;
}

/* Footer CSS starts here*/

.footerContainer {
    width: 100vw;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    background-color: #121315;


}



.upperFooter {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: 50% 25% 25%;
}

.left {
    display: grid;
    max-width: 50vw;
    width: 70%;
    height: 100%;
    grid-template-rows: 40% 60%;
    padding-left: 80px;
    margin-right: 10px;

}

.leftUpper {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.leftUpper h1 {
    color: #EDF0F5;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 48px;
    font-weight: 600;
    height: 58px;
    left: 0;
    margin-left: 10px;
    letter-spacing: 0;
    line-height: normal;

}

.leftLower p {
    color: #EDF0F5;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: 23.1px;
    top: 0;

}

.sideContainer {
    display: flex;
    justify-content: flex-end;

    margin-right: 80px;
}



.middle h3 {
    color: #EDF0F5;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 32px;
    font-weight: 600;
    height: 58px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;

    display: flex;
    align-items: center;
}

.inline_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;

}

.inline_row img{
    width: 25px;
    height: 25px;
}

.inline_row span {

    display: flex;
    color: #EDF0F5;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    height: 23px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 10px;
    align-items: center;
}

.right {
    margin-left: 80px;
    align-self: start;
}

.right h3 {
    color: #EDF0F5;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 32px;
    font-weight: 600;
    height: 58px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;

    display: flex;
    align-items: center;
}

.lowerFooter p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EDF0F5;
}

hr {
    margin-left: 80px;
    margin-right: 80px;
}